/*typography*/
input:focus,button:focus{
outline: none;
box-shadow: none;
}
body{
  font-family: 'Poppins', sans-serif;
}
.btn-1{
  background-color: #FFB100;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 30px;
}
.btn-2{
  background-color: #227AFF;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 40px;
}
.btn-3{
  background-color: #EEF5FF;
  color: #1170FF;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 15px;
}
.btn-1:hover{
  color: #fff;
}
.btn-2:hover{
  color: #fff;
}
.btn-3:hover{
  color: #1170FF;
}
button:focus {
  outline: none !important;
}
a:hover{
  text-decoration: none;
}
/*header start*/

.cart-user{
  display: flex;
}
.right-header-section .row{
  margin-left: 0;
}
.top-bar{
background-color: #F0F0F0;
padding: 8px 0;
}
.top-bar .d-flex a{
    color:#4A4A4A;
    margin-right: 10px;
}
.top-bar .d-flex a svg{
    margin-right: 5px;
}
.topbar-social{
    display: flex;
    justify-content: flex-end;
}
.topbar-social a{
    height:34px ;
    width: 34px;
    border-radius: 50%;
    background-color: #7B7B7B;
    padding: 5px;
    margin-right: 10px;
    text-align: center;
}
.topbar-social a svg{
    color: #fff;

}
.search-icon{
    position: absolute;
    right: 14px;
    top: 12px;
    z-index: 2;
}
.search-icon svg{
    transform: rotate(90deg);
    color: #1170FF;
}
.cart{
    background-color: #0664D2;
    padding: 10px 20px;
    margin-right: 20px;
    width: 200px;
    text-align: center;
}
.cart img{
  margin-right: 8px;
}
.user{
    background-color: #EEF5FF;
    padding: 10px;
    margin-left: auto;

}
.input-group{
    margin-right: 20px;
}
.input-group input{
   height: 46px;
}
.cart a{
    color: #fff;
}
.logo img{
    width: 280px;
}
.middle-bar{
    padding: 10px 0;
}






section{
    padding: 50px 0;
}


/* <!-- new arrival and best selling section-start --> */
.new-arrivals{
    padding-bottom: 10px;
}
.search-icon-position{
    position: absolute;
    right: 22px;
    top: 11px
}
.left-col p{
font-size: 20px;
font-weight: 700;}

.new-arrival-search .form-control {
display: inline;
}
.new-arrival-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 100%;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.form-control {
    width: 100%;
    padding: 22px 10px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.filter-bar{
    border: 1px solid #ced4da;
    color: #495057;;
    padding: 6px 10px;
}
.dropdown-one{
 color: #0066FF;;
 border: none;
}
.dropdown-two{
    color: #0066FF;
    border: none;
}
.filter-bar p{
    display: inline;
    padding-left: 105px;
}
.card{
    margin-top: 30px;
}
.card-body{
    padding: 10px;
}
.card-body button{
    padding: 10px 15px;
    border: none;
    width: 100%;
    font-weight: 600;
}
.card-body p{
  color: #0066FF;
  font-size: 14px;
  font-weight: 700;
    
}
.card-body h6{
    font-size: 12px;
    padding-bottom: 5px;
}
.card img{
    padding: 10px;
}
.best-selling{
    margin-top: 30px;
}
.label-padding{
    padding-right: 4px;
}
/* <!-- new arrival and best selling section-end --> */

.subscribe{
    background-color: #FFB100;
    padding: 45px;
    margin-top: 30px;
}

.input-group button{
    padding: 10px 50px;
    background-color: #1170FF;
    border: 1px solid #1170FF;
}
.subscribe h1{
    color: #FFFFFF;
    font-weight: bold;
}
.subscribe p{
    color: #FFFFFF;
    margin-top: 10px;
}
.subscribe-right-col{
    padding-top: 20px;
}
.navbar-collapse{
    justify-content: center;
}

/*nav css*/
/* Body Styles */

  
  .author {
    position: fixed;
    bottom: 15px;
    right: 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #999;
  }
  
  .author a {
    color: #777;
    text-decoration: none;
  }
  
  .author a:hover {
    color: blue;
  }
  
  header.dark blockquote { color:#fff; }
  header.light blockquote { color:#000; }
  
  blockquote { 
    max-width: 1000px; 
    margin:0 auto;
    font-size: 16px; 
    border-left: 0px;
    padding:  20px ;
  }
  
  blockquote h2 { padding-right: 40px; margin: 0px; }
  header.dark blockquote a {color: orange; text-decoration: underline;}
  header.light blockquote a {text-decoration: underline;}
  
  
  /* Navigation Styles */
 
    .banners-area { border-top: 1px solid #ccc; }
  
  /*mega menu end*/
  /* footer start */
  .footer-bottom-right-content{
    float: right;
  }
.footer-left-section h2{
    padding-bottom: 10px;
}
.footer-left-section p{
 color: #656565;
}
.footer-left-section ul{
    list-style: none;
    padding-left: 0;
    color: #656565;
    display: flex;
}
.footer-left-section ul li{
    padding: 0px 12px;
}
.footer-left-section ul li a{
    text-decoration: none;
    color: #656565;
    font-size: 15px;
}
.footer-left-section-paragraph{
    padding-right: 200px;
}
.footer-icon{
    padding-top: 10px;
}
.footer-icon a  {
    color: #fff;
    font-size: 13px;
    background-color: #7B7B7B;
    border-radius: 50%;
    padding: 10px 10px;
    line-height: 0px;
    margin: 0px 10px;
    width: 30px;
    height: 30px;
  }
  
  .footer-middle-section h5{
    font-size: 18px;
    padding-bottom: 17px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
  }
  .footer-middle-section ul{
    list-style-type: none;
    padding: 0;
  }
  .footer-middle-section li a{
      text-decoration: none;
      color: #656565;
  }
  .footer-middle-section li{
    padding-bottom: 10px;
  }

  .footer-end-section h5{
    font-size: 18px;
    padding-bottom: 17px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
  }
  .footer-end-section ul{
    list-style-type: none;
    padding: 0;
  }
  .footer-end-section li a{
      text-decoration: none;
      color: #656565;
  }
  .footer-end-section li{
    padding-bottom: 10px;
  }
  .footer-end-section img{
      padding: 10px 10px 16px;
  }
  .payment-option{
      padding-left: 534px;
  }
  .footer-content{
      padding-top: 50px;
  }
  .payment-option img{
      padding-right: 20px;
  }
  /*footer end*/
  /*banner start*/
  .banner-section{
    width: 100%;
    background: url(../images/banner-photobox.png) no-repeat center center;
    background-size: cover;
    padding: 100px 0px;
    height: 600px;
  }
  /*slider start*/
  .category-slider{
    background-color: #0664D2;
  }
  .category-slider h5{
    font-weight: bold;
    font-size: 24px;
    padding-left: 15px;
  }
  .owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.owl-prev {
  left: -25px;
}

.owl-next {
  right: -25px;
}
.owl-prev span,
.owl-next span{
  font-size: 60px;
  color: #fff;
}
.category-img{
  background-color: #EEF5FF;
  padding: 5px;
  margin-right: 10px;
  display: flex;
}
.category-item{
  background-color: #fff;
  padding: 10px 15px 10px 10px;
  margin: 0 5px;
}
.category-item img{
  width: 30px !important;
}
.category-content p{
  margin-bottom: 4px;
}
.owl-carousel .owl-stage-outer {
  top: 16px;
}


/*about-us page css start*/

    /* banner section start */
    .about-us-banner-section {
      background-image: url("../images/Group\ 35976.png ");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      text-align: center;
      padding: 80px;

    }

    .about-us-banner-section h1 {
      font-weight: 400;
      padding-bottom: 2px;
      font-size: 32px;
      font-weight: bold;
    }

    .about-us-banner-section h5 {
      font-weight: 400;
      padding-bottom: 2px;
      font-size: 18px;
    }

    /* banner section end */
    /* our-section-start */
    .right-side-content-our-story {
      padding-top: 110px;
      padding-left: 41px;
    }

    .right-side-content-our-story h1 {
      font-weight: 700;
      font-size: 32px;
      padding-bottom: 25px;
    }

    .right-side-content-our-story p {
      font-size: 14px;
    }

    .about-user-left {
      text-align: center;
      border-right: 1px solid #DBDBDB;
      padding: 0px 36px;
    }

    .about-user-left img {
      padding-bottom: 20px;
    }

    .about-user-left h5 {
      padding-bottom: 14px;
    }



    .about-user-center {
      text-align: center;
      border-right: 1px solid #DBDBDB;
      padding: 0px 36px


    }

    .about-user-center img {
      padding-bottom: 20px;
    }

    .about-user-center h5 {
      padding-bottom: 14px;
    }




    .about-user-right {
      text-align: center;
      border-right: 1px solid #DBDBDB;
      padding: 0px 36px;

    }

    .about-user-right img {
      padding-bottom: 20px;
    }

    .about-user-right h5 {
      padding-bottom: 14px;
    }

    /* our-section-end */
    /*about-us page css end*/

    /*contact-us page css start*/
        /* ask-question-section-start */
        .ask-question input {
            padding: 10px 27px 10px 26px;
            margin-right: 10px;
            margin-top: 15px;
            text-align: center;
            border-radius: 2px;
            border: 1px solid #E0E0E0;
            color: #B5B5B5;
            font-weight: bold;
            border-radius: 4px;
            text-align: left;
            font-weight: 400;
        }

        .ask-question textarea {
            padding: 10px 27px 10px 26px;
            margin-right: 10px;
            margin-top: 15px;
            text-align: center;
            border-radius: 2px;
            border: 1px solid #E0E0E0;
            color: #B5B5B5;
            font-weight: bold;
            border-radius: 4px;
            text-align: left;
            font-weight: 400;
        }

        .ask-question textarea {
            width: 100%;
            height: 85%;
        }
        .ask-question select {
            border-radius: 4px;
            display: inline-block;
            font: inherit;
            line-height: 1.5em;
            padding: 10px 8px;
            margin: 0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-appearance: none;
            -moz-appearance: none;
        }
        select.round {
            background-image:
                linear-gradient(45deg, transparent 50%, gray 50%),
                linear-gradient(135deg, gray 50%, transparent 50%),
                radial-gradient(#ddd 70%, transparent 72%);
            background-position:
                calc(100% - 20px) calc(1em + 2px),
                calc(100% - 15px) calc(1em + 2px),
                calc(100% - .5em) .5em;
            background-size:
                5px 5px,
                5px 5px,
                1px 1px;
            background-repeat: no-repeat;
            margin-top: 15px;
            color: #B5B5B5;
            border: 1px solid #E0E0E0;
        }
        .custom-subject-input {
            width: 100%
        }
        .ask-question-right {
            padding-top: 127px;
        }

        .ask-question-right h5 {
            padding-bottom: 25px;

        }

        /* ask-question-section-end */
        /* faq-start */
        .Frequently-asked-question {
          padding: 50px 0px;
    width: 60%;
    margin: 0 auto;
        }
        .Frequently-asked-question h3 {
            text-align: center;
            padding-bottom: 25px;
            font-size: 27px;
        }
        .Frequently-asked-question .panel {}

        /*******************************
* ACCORDION WITH TOGGLE ICONS
* Does not work properly if "in" is added after "collapse".
*******************************/
        .panel-group .panel {
            border-radius: 0;
            box-shadow: none;
            border-color: #EEEEEE;
        }

        .panel-default>.panel-heading {
            padding: 0;
            border-radius: 0;
            color: #212121;
            border-color: #EEEEEE;
            box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.1);
        }

        .panel-title {
            font-size: 14px;
            border: 1px solid #E8E8E8;
        }

        .panel-title>a {
            display: block;
            padding: 15px;
            text-decoration: none;
            color: #000000;
        }

        .more-less {
            float: right;
            color: #212121;
        }

        .panel-default>.panel-heading+.panel-collapse>.panel-body {
            border-top-color: #EEEEEE;
        }

        /* asked-question-section-end */
      /*contact-us page css end*/
      .input-group-append .btn, .input-group-prepend .btn {
        position: relative;
        z-index: 0;
    }
    .top-category li a{
      border-right: 1px solid #707070;
      padding-right: 27px;
    }
    ul.main-nav > li > a.active {
      
      border-bottom: 2px solid #fff;
  }
 .search-icon-position svg {
    transform: rotate(90deg);
    color: #1170FF;
}

.footer-end-section ul span svg{
  margin-top: 5px;
  margin-right: 10px;
}
.phone svg{
  margin-left: 3px;
}
.addre svg{
  margin-left: 2px;
}
._boxzoom{
  text-align: center;
}
._p-features{
  margin-bottom: 15px;
}
.product-info h5{
  margin-bottom: 15px !important;
}
.product-info ul{
  margin-bottom: 25px !important;
}
.product-name{
  margin-bottom: 0px !important;
}
.image-grid-shop{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.image-grid-shop img{
  width: 100%;
  height: 100%;
}
.banner-section-new{
  padding: 0px;
}
.best-selling {
  margin-top: -10px;
}
.copy-right{
  font-size: 14px;
}

/*dropdown menu start*/

  .dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}
 .down-icon::after {
  transform: rotate(-0deg) !important;
  position: absolute;
  right: 6px;
  top: .8em;
}
.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #ffb100;
}
.dropdown-item:focus, .dropdown-item:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #ffb100;
}
.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}
.about-us-banner-section h5{
  font-weight: 700;
  font-size: 18px;
}
.terms{
  text-decoration: underline;
  color: #fff;
}
.terms:hover{
  color: #fff;
  text-decoration: underline !important;
}

.video-section .text_center {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.video-section .img-fluid {
  max-width: 100%;
  height: auto;
  width: 100%;
}

/*accordion start*/
.accordion {
  margin-top: 40px;
}
.accordion .card {
  border: none;
  margin: 0px 0 10px;
  border-radius: 0;
  box-shadow: none;
  border-color: #EEEEEE;
  box-shadow: 0 2px 3px -1px rgb(0 0 0 / 10%);
}
.accordion .card-head{
  padding: 0;
    border-radius: 0;
    color: #212121;
    border-color: #EEEEEE;
    box-shadow: 0 2px 3px -1px rgb(0 0 0 / 10%);
}
.accordion .card h2 {
  background: url(../images/caret-up-solid.svg) no-repeat calc(100% - 10px) center;
  background-size: 12px;
  cursor: pointer;
  font-size: 14px;
    border: 1px solid #E8E8E8;
    padding: 15px;
    
   
}
.accordion .card h2.collapsed {
  background-image: url(../images/caret-down-solid.svg);
}
.accordion .card-body {
  padding: 15px;
  font-size: 14px;
}

/*product page*/

      .picZoomer{
	position: relative;
    /*margin-left: 40px;
    padding: 15px;*/
}
.picZoomer-pic-wp{
	position: relative;
	overflow: hidden;
    text-align: center;
}
.picZoomer-pic-wp:hover .picZoomer-cursor{
	display: block;
}
.picZoomer-zoom-pic{
	position: absolute;
	top: 0;
	left: 0;
}
.picZoomer-pic{
	/*width: 100%;
	height: 100%;*/
}
.picZoomer-zoom-wp{
	display: none;
	position: absolute;
	z-index: 999;
	overflow: hidden;
    border:1px solid #eee;
    height: 460px;
    margin-top: -19px;
}
.picZoomer-cursor{
	display: none;
	cursor: crosshair;
	width: 100px;
	height: 100px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50%;
	border: 1px solid #eee;
	background-color: rgba(0,0,0,.1);
}
.picZoomCursor-ico{
	width: 23px;
	height: 23px;
	position: absolute;
	top: 40px;
	left: 40px;
	background: url(../images/zoom-ico.png) left top no-repeat;
}

.my_img {
    vertical-align: middle;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 100%;
}
.piclist li{
    display: inline-block;
    width: 125px;
    height: 125px;
}
.piclist li img{
    width: 97%;
    height: auto;
}

/* custom style */




.section-bg {
    background-color: #fff;
}
section {
    padding: 60px 0;
}
.row-sm .col-md-6 {
    padding-left: 5px;
    padding-right: 5px;
}

/*===pic-Zoom===*/
._boxzoom .zoom-thumb {
    display: inline-block;
    vertical-align: top;
    margin-top: 0px;
}
._boxzoom .zoom-thumb ul.piclist {
    padding-left: 0px;
    top: 0px;
}
._boxzoom ._product-images {
    width: 100%;
    display: inline-block;
}
._boxzoom ._product-images .picZoomer {
    width: 100%;
}
._boxzoom ._product-images .picZoomer .picZoomer-pic-wp img {
    left: 0px;
}
._boxzoom ._product-images .picZoomer img.my_img {
    width: 100%;
}
.piclist li img {
    height:100px;
    object-fit:cover;
}

/*======products-details=====*/
._product-detail-content {
    background: #fff;
    padding: 0 15px 15px;
}
._product-detail-content p.product-name {
    color: #111111;
    font-size: 40px;
}
.p-list span {
    margin-right: 15px;
}
.p-list span.price {
    font-size: 24px;
    font-weight: 600;
    color: #FFB100;
}
._p-qty > span {
    color: black;
    margin-right: 15px;
    font-weight: 500;
}
._p-qty .value-button {
    display: inline-flex;
    border: 0px solid #ddd;
    margin: 0px;
    width: 30px;
    height: 35px;
    justify-content: center;
    align-items: center;
    background: #fd7f34;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
}

._p-qty .value-button {
    border: 0px solid #fe0000;
    height: 35px;
    font-size: 20px;
    font-weight: bold;
}
._p-qty input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #fe0000;
    border-bottom: 1px solid #fe0000;
    margin: 0px;
    width: 50px;
    height: 35px;
    font-size: 14px;
    box-sizing: border-box;
}
._p-add-cart {
    margin-left: 0px;
    margin-bottom: 15px;
}
.p-list {
    margin-bottom: 10px;
}
._p-features > span {
    display: block;
    font-size: 16px;
    color: #000;
    font-weight: 500;
}
._p-add-cart .buy-btn {
    background-color: #fd7f34;
    color: #fff;
}
._p-add-cart .btn {
    text-transform: capitalize;
    padding: 6px 20px;
    /* width: 200px; */
    border-radius: 52px;
}
._p-add-cart .btn {
    margin: 0px 8px;
}

/*=========Recent-post==========*/
.title_bx h3.title {
    font-size: 22px;
    text-transform: capitalize;
    position: relative;
    color: #fd7f34;
    font-weight: 700;
    line-height: 1.2em;
}
.title_bx h3.title:before {
    content: "";
    height: 2px;
    width: 20%;
    position: absolute;
    left: 0px;
    z-index: 1;
    top: 40px;
    background-color: #fd7f34;
}
.title_bx h3.title:after {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 40px;
    background-color: #ffc107;
}
.common_wd .owl-nav .owl-prev, .common_wd .owl-nav .owl-next {
    background-color: #fd7f34 !important;
    display: block;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 0px !important;
}
.owl-nav .owl-next {
    right:-25px;
}
.owl-nav .owl-prev, .owl-nav .owl-next {
    top:50%;
    position: absolute;
}
.common_wd .owl-nav .owl-prev i, .common_wd .owl-nav .owl-next i {
    color: #fff;
    font-size: 14px !important;
    position: relative;
    top: -1px;
}
.common_wd .owl-nav {
    position: absolute;
    top: -21%;
    right: 4px;
    width: 65px;
}
.owl-nav .owl-prev i, .owl-nav .owl-next i {
    left: 0px;
}
._p-qty .decrease_ {
    position: relative;
    right: -5px;
    top: 3px;
}

._p-qty .increase_ {
    position: relative;
    top: 3px;
    left: -5px;
}
/*========box========*/
.sq_box {
    padding-bottom: 5px;
    border-bottom: solid 2px #fd7f34;
    background-color: #fff;
    text-align: center;
    padding: 15px 10px;
    margin-bottom: 20px;
    border-radius: 4px;
}
.item .sq_box span.wishlist {
    right: 5px !important;
}
.sq_box span.wishlist {
    position: absolute;
    top: 10px;
    right: 20px;
}
.sq_box span {
    font-size: 14px;
    font-weight: 600;
    margin: 0px 10px;
}
.sq_box span.wishlist i {
    color: #adb5bd;
    font-size: 20px;
}
.sq_box h4 {
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    color: #343a40;
    margin-top: 10px;
    margin-bottom: 10px !important;
}
.sq_box .price-box {
    margin-bottom: 15px !important;
}
.sq_box .btn {
    border-radius: 50px;
    padding: 5px 13px;
    font-size: 15px;
    color: #fff;
    background-color: #fd7f34;
    font-weight: 600;
}
.sq_box .price-box span.price {
    text-decoration: line-through;
    color: #FFB100;
    font-weight: 600;
    font-size: 24px;
}
.sq_box span {
    font-size: 14px;
    font-weight: 600;
    margin: 0px 10px;
}

.sq_box img {
    object-fit: cover;
    height: 150px !important;
    margin-top: 20px;
}
.sq_box span.wishlist i:hover {
    color: #fd7f34;
}
.pros::before{
  content: url(../images/pros.svg);
  position: absolute;
  transform: translate(-38px, 4px);
}
.crons::before{
  content: url(../images/crons.svg);
  position: absolute;
  transform: translate(-38px, 4px);
}
.product-info ul{
  list-style: none;
  position: relative;
}
.product-info ul li{
  margin-bottom: 10px;
}
.services .btn-2{
  margin-right: 20px;
}

.top-category li:last-of-type a {
  border-right:none;
}
    

