
@{
    ViewBag.Title = "Aboutus";
    Layout = "~/Views/Shared/Web_LayoutPage.cshtml";
}

<section class="about-us-banner-section">
    <h1>ABOUT US</h1>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut</p>
    <h5>Home >> About Us</h5>
</section>
<!--bannar section end -->
<!-- our-story section-start -->
<section class="our-story">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="~/Css/images/our-story.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-6 right-side-content-our-story">
                <h1>
                    OUR STORY
                </h1>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting indust orem Ipsum has been the
                    industry’s standard dummy texever since the when anunknown printer took a galley of type and scrambled
                    it to make a type specimen book.
                </p>

                <p>
                    Dorem Ipsum is simply dummy consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam
                </p>
            </div>
        </div>
    </div>
</section>
<!-- our-story section-end -->
<!-- video-section-start -->
<section class="video-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="border border-solid border-gray-300 group position-relative">
                    <a class="play-vedio" href="https://www.youtube.com/">
                        <img class="img-fluid" src="~/Css/images/video-img.svg">
                        <img class="text_center" src="~/Css/images/play-btn.svg" alt="play icon image" loading="lazy" width="50" height="50">
                    </a>
                    <!-- <iframe src="https://www.youtube.com/embed/qKYSmr9L-24?wmode=opaque" frameborder="0" allowfullscreen=""></iframe> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- video-section-end -->
<section class="about-user">
    <div class="container">
        <div class="row">
            <div class="col-md-4 about-user-left">
                <img src="~/Css/images/user-one.png" alt="">
                <h5>User Name Here</h5>
                <img src="~/Css/images/stars.png" alt="">
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                    laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
                </p>
                <p>Monday, January 2022</p>
            </div>
            <div class="col-md-4 about-user-center">
                <img src="~/Css/images/user-two.png" alt="">
                <h5>User Name Here</h5>
                <img src="~/Css/images/stars.png" alt="">
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                    laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
                </p>
                <p>Monday, January 2022</p>
            </div>
            <div class="col-md-4 about-user-right">
                <img src="~/Css/images/user-three.png" alt="">
                <h5>User Name Here</h5>
                <img src="~/Css/images/stars.png" alt="">
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                    laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
                </p>
                <p>Monday, January 2022</p>
            </div>
        </div>
    </div>
</section>




<!-- subscribe-section-start -->
<section class="subscribe">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ">
                <h1>Subscribe Now !</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                    laoreet dolore
                </p>
            </div>
            <div class="col-md-6 subscribe-right-col">
                <div class="input-group  my-auto">
                    <input type="search" placeholder="Text Field" aria-describedby="button-addon5" class="form-control">
                    <div class="input-group-append">
                        <button id="button-addon5" type="submit" class="btn btn-primary">
                            Subscribe
                        </button>
                    </div>
                </div>
                <p>By subscribing you agree with our <a href="#" class="terms">Terms and Conditions.</a> </p>
            </div>
        </div>
    </div>
</section>

