
@{
    ViewBag.Title = "checkout";
    Layout = "~/Views/Shared/Web_LayoutPage.cshtml";
}

<section class="checkout-form">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h5>Checkout</h5>
                <p class="top-checkout-paragraph">Returning Buyer? <a href="">Click here to login</a></p>
                <p class="top-checkout-paragraph">Have a Coupon?<a href="">Click here to enter your code.</a></p>
                </span>
            </div>
            <div class="col-lg-6">
                </span>
                <h6 class="left-checkout-heading">Billing Details</h6>
                <div class="row">
                    <div class="col-md-6">
                        <label for="">First Name*</label>
                        <input type="text" name="yourName" placeholder="" class="custom-input-checkout">
                    </div>
                    <div class="col-md-6">
                        <label for="">Last Name*</label>
                        <input type="text" name="psw" placeholder="" class="custom-input-checkout">
                    </div>

                    <div class="col-md-12">
                        <label for="">Email*</label>
                        <input class="custom-input-checkout" type="text" name="yourName" placeholder="">
                    </div>
                    <div class="col-md-12">
                        <label for="">Address*</label>
                        <input class="custom-input-checkout" type="text" name="yourName" placeholder="">
                    </div>
                    <div class="col-md-12">
                        <input class="custom-input-checkout" type="text" name="yourName" placeholder="">
                    </div>
                    <div class="col-md-6">
                        <label for="">First Name*</label>
                        <input type="text" name="yourName" placeholder="" class="custom-input-checkout">
                    </div>
                    <div class="col-md-6">
                        <label for="">First Name*</label>
                        <input type="text" name="yourName" placeholder="" class="custom-input-checkout">
                    </div>
                    <div class="col-lg-12">
                        <form>
                            <div class="form-group">
                                <input type="checkbox" id="html">
                                <label for="html">Create My Account</label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h6 class="right-checkout-heading">Ship to a different address?</h6>
                <p class="right-checkout-paragraph">Notes</p>
                <textarea class="checkout-textarea" name="" id="" cols="30" rows="10"></textarea>
            </div>
        </div>
    </div>
</section>

