
@{
    ViewBag.Title = "contactus";
    Layout = "~/Views/Shared/Web_LayoutPage.cshtml";
}

<main>
    <!--bannar section start -->
    <section class="about-us-banner-section">
        <h1>CONTACT US</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
        </p>
        <h5>Home >> Contact Us</h5>
    </section>
    <!--bannar section end -->
    <!-- ask question section start -->
    <section class="ask-question">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="~/Css/images/contact-us.svg" class="img-fluid" alt="">
                </div>
                <div class="col-md-6 ask-question-right">
                    <h5>Ask a question</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" name="yourName" placeholder="Your Name" class="custom-subject-input">
                        </div>
                        <div class="col-md-6"><input type="text" name="psw" placeholder="Email" class="custom-subject-input"></div>
                        <div class="col-md-6"><input type="text" name="email" placeholder="phone" class="custom-subject-input"></div>
                        <div class="col-md-6">
                            <select class="round custom-subject-input">
                                <option>Select a Subject</option>
                                <option>No external background image</option>
                                <option>No wrapper</option>
                            </select>
                        </div>
                        <div class="col-md-12">
                            <input class="custom-subject-input" type="text" name="yourName"
                                   placeholder="Add a custom subject">
                        </div>
                        <div class="col-md-12">
                            <textarea class="" type="text">messege</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ask question section end -->
    <!-- Frequently-asked-question-section start -->
    <section class="Frequently-asked-question">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">

                    <h3>Frequently asked questions</h3>

                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-head" id="headingOne">
                                <h2 class="mb-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Collapsible Group Item #1
                                </h2>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-head" id="headingTwo">
                                <h2 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Collapsible Group Item #2
                                </h2>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-head" id="headingThree">
                                <h2 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Collapsible Group Item #3
                                </h2>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </section>
    <!-- Frequently-asked-question-section end -->
    <!-- subscribe-section-start -->
    <section class="subscribe">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ">
                    <h1>Subscribe Now !</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                        tincidunt ut
                        laoreet dolore
                    </p>
                </div>
                <div class="col-md-6 subscribe-right-col">
                    <div class="input-group  my-auto">
                        <input type="search" placeholder="Text Field" aria-describedby="button-addon5"
                               class="form-control">
                        <div class="input-group-append">
                            <button id="button-addon5" type="submit" class="btn btn-primary">
                                Subscribe
                            </button>
                        </div>
                    </div>
                    <p>By subscribing you agree with our <a href="#" class="terms">Terms and Conditions.</a> </p>
                </div>
            </div>
        </div>
    </section>
    <!-- subscribe-section-end -->


</main>


