
@{
    ViewBag.Title = "product";
    Layout = "~/Views/Shared/Web_LayoutPage.cshtml";
}


    <!--bannar section start -->
    <section class="about-us-banner-section">
        <h1>PRODUCT NAME</h1>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut</p>
        <h5>Home >> Shop >> Product</h5>
    </section>
    <!--bannar section end -->
    <!--product deyail start-->
    <section id="services" class="services section-bg">
        <div class="container">

            <div class="row row-sm">
                <div class="col-md-6 _boxzoom">

                    <div class="_product-images">
                        <div class="picZoomer">
                            <img class="my_img" src="~/Css/images/product1.svg" alt="">
                        </div>
                    </div>
                    <div class="zoom-thumb">
                        <ul class="piclist">
                            <li><img src="~/Css/images/product1.svg" alt=""></li>
                            <li><img src="~/Css/images/product2.svg" alt=""></li>
                            <li><img src="~/Css/images/product3.svg" alt=""></li>
                            <li><img src="~/Css/images/product4.svg" alt=""></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="_product-detail-content">
                        <p class="product-name"> Label of the box goes here </p>
                        <div class="_p-price-box">
                            <div class="p-list">

                                <span class="price">69.9 USD </span>
                            </div>

                            <div class="_p-features">
                                White car with a lime green roof, this customs sports the traditional Ryobi warrior and all the logos. Custom wheels with Firestone tyres on the rear. This is the first of its kind. I designed car and diecast  made my decals.  The car comes in a protective plastic display box.
                            </div>
                            <div class="product-info">
                                <h5>Important Information</h5>
                                <ul>
                                    <li class="pros">$80 (postage extra)</li>
                                    <li class="pros">Tyre type details</li>
                                    <li class="pros">Color detaills</li>
                                    <li class="crons">Any missing feature</li>
                                </ul>
                            </div>
                            <div class="d-flex">
                                <a href="" class="btn-2">Add to cart</a>
                                <a href="" class="btn-3">Wish List</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">

                        <h2>FAQ</h2>


                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-head" id="headingOne">
                                    <h2 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Collapsible Group Item #1
                                    </h2>
                                </div>

                                <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-head" id="headingTwo">
                                    <h2 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Collapsible Group Item #2
                                    </h2>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-head" id="headingThree">
                                    <h2 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Collapsible Group Item #3
                                    </h2>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>

                </div>
            </div>
        </div>
    </section>



    <!-- new arrival section-start -->
    <section class="new-arrivals">
        <div class="container">
            <div class="row">
                <div class="col-md-12 left-col ">
                    <p class="my-auto">Related Products</p>
                </div>

            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" alt="" width="" height="" src="~/Css/images/Products - Thumbnail.png"
                             role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        </img>

                        <div class="card-body">

                            <h6 class="card-text">
                                Space for product name belongs here
                            </h6>
                            <p class="card-text">36.99 USD</p>
                            <button class="btn btn-primary invite-btn">
                                Add to
                                cart
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" alt="" width="" height="" src="~/Css/images/Products - Thumbnail-2.png"
                             role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        </img>

                        <div class="card-body">

                            <h6 class="card-text">
                                Space for product name belongs here
                            </h6>
                            <p class="card-text">36.99 USD</p>
                            <button class="btn btn-primary invite-btn">
                                Add to
                                cart
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" alt="" width="" height="" src="~/Css/images/Products - Thumbnail-3.png"
                             role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        </img>

                        <div class="card-body">

                            <h6 class="card-text">
                                Space for product name belongs here
                            </h6>
                            <p class="card-text">36.99 USD</p>
                            <button class="btn btn-primary invite-btn">
                                Add to
                                cart
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" alt="" width="" height="" src="~/Css/images/Products - Thumbnail-4.png"
                             role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        </img>

                        <div class="card-body">

                            <h6 class="card-text">
                                Space for product name belongs here
                            </h6>
                            <p class="card-text">36.99 USD</p>
                            <button class="btn btn-primary invite-btn">
                                Add to
                                cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-12 text-center mt-5">
                    <a href="" class="btn-1">Load more</a>
                </div>
            </div>

        </div>
    </section>
    <!-- new arrival section-end -->
    <!-- subscribe-section-start -->
    <section class="subscribe">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ">
                    <h1>Subscribe Now !</h1>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore</p>
                </div>
                <div class="col-md-6 subscribe-right-col">
                    <div class="input-group  my-auto">
                        <input type="search" placeholder="Text Field" aria-describedby="button-addon5" class="form-control">
                        <div class="input-group-append">
                            <button id="button-addon5" type="submit" class="btn btn-primary">
                                Subscribe
                            </button>
                        </div>
                    </div>
                    <p>By subscribing you agree with our <a href="#" class="terms">Terms and Conditions.</a> </p>
                </div>
            </div>
        </div>
    </section>
    <!-- subscribe-section-end -->


</main>
