
@{
    ViewBag.Title = "yourcartpage";
    Layout = "~/Views/Shared/Web_LayoutPage.cshtml";
}

<section class="related-products">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 header-related-products">
                <h1>Related Products</h1>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry’s standard dummy text ever since the 1500s.
                </p>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img card-img-top" alt="" width="" height=""
                                 src="images/Products - Thumbnail.png" role="img" aria-label="Placeholder: Thumbnail"
                                 preserveaspectratio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>


                            <div class="card-body">

                                <h6 class="card-text">
                                    Space for product name belongs here
                                </h6>
                                <p class="card-text">36.99 USD</p>
                                <button class="btn btn-primary invite-btn">
                                    Add to
                                    cart
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img card-img-top" alt="" width="" height=""
                                 src="images/Products - Thumbnail.png" role="img" aria-label="Placeholder: Thumbnail"
                                 preserveaspectratio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>


                            <div class="card-body">

                                <h6 class="card-text">
                                    Space for product name belongs here
                                </h6>
                                <p class="card-text">36.99 USD</p>
                                <button class="btn btn-primary invite-btn">
                                    Add to
                                    cart
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pricing-section">
                <div class="row">
                    <div class="col-lg-6 left-details">
                        <p class="subtotal"> Subtotal</p>
                        <p class="shipping">Shipping</p>
                        <p class="total">Total</p>
                    </div>
                    <div class="col-lg-6 right-details">
                        <p class="price-one">$ 100</p>
                        <form>
                            <div class="form-group">
                                <input type="checkbox" id="check">
                                <label for="check">Create My Account</label>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" id="check-two">
                                <label for="check-two">Create My Account</label>
                            </div>
                        </form>

                        <p class="price-final">$159.96</p>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

<!-- subscribe-section-start -->
<section class="subscribe">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ">
                <h1>Subscribe Now !</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                    laoreet dolore
                </p>
            </div>
            <div class="col-md-6 subscribe-right-col">
                <div class="input-group  my-auto">
                    <input type="search" placeholder="Text Field" aria-describedby="button-addon5" class="form-control">
                    <div class="input-group-append">
                        <button id="button-addon5" type="submit" class="btn btn-primary">
                            Subscribe
                        </button>
                    </div>
                </div>
                <p>By subscribing you agree with our <a href="#" class="terms">Terms and Conditions.</a> </p>
            </div>
        </div>
    </div>
</section>
<!-- subscribe-section-end -->
