
@{
    ViewBag.Title = "addressform";
    Layout = "~/Views/Shared/Admin_LayoutPage.cshtml";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="admin-heading">Address</h1>
            </div>
            <div class="col-lg-3">
                <div class="side-navigation">
                    <ul>
                        <li><a href="">Add new product</a> </li>
                        <li class="active"><a href="">Product lists</a> </li>
                        <li><a href="">Customer info</a> </li>
                        <li><a href="">Addresses</a> </li>
                        <li><a href="">Orders</a> </li>
                        <li><a href="">Change password</a> </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 new-product">
                <div class="row">
                    <div class="col-lg-12 ">
                        <h5>Address</h5>
                    </div>
                    <div class="col-lg-12 d-flex">
                        <label class="" for="">Country</label>
                        <input class="custom-subject-input" type="text" name="yourName" placeholder="Country">
                    </div>
                    <div class="col-lg-12 d-flex">
                        <label class="">State</label>
                        <input class="custom-subject-input" type="text" name="yourName" placeholder="State">
                    </div>
                    <div class="col-lg-12 d-flex">
                        <label class="">Postal-code</label>
                        <input class="custom-subject-input" type="text" name="yourName" placeholder="Postal-code">
                    </div>
                    <div class="col-lg-12 d-flex">
                        <label class="">Address</label>
                        <input class="custom-subject-input" type="text" name="yourName" placeholder="Address Here">

                    </div>
                    <div class="col-lg-12 d-flex">
                        <label class=""></label>
                        <input class="custom-subject-input" type="text" name="yourName" placeholder="Address Here">

                    </div>


                    <div class="col-lg-12">
                        <a href="" class="btn-admin">Save Address</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

