
@{
    ViewBag.Title = "changepasswordform";
    Layout = "~/Views/Shared/Admin_LayoutPage.cshtml";
}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="admin-heading">Change Password</h1>
            </div>
            <div class="col-lg-3">
                <div class="side-navigation">
                    <ul>
                        <li><a href="">Add new product</a> </li>
                        <li class="active"><a href="">Product lists</a> </li>
                        <li><a href="">Customer info</a> </li>
                        <li><a href="">Addresses</a> </li>
                        <li><a href="">Orders</a> </li>
                        <li><a href="">Change password</a> </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 Change-password">
                <div class="row">
                    <div class="col-lg-12 ">
                        <label class="">Username</label>
                        <input class="custom-subject-input" type="text" name="yourName" placeholder="">
                    </div>
                    <div class="col-lg-12">

                        <label class="" for="name">Email</label>
                        <input class="custom-subject-input" type="email" name="yourName" placeholder="">

                    </div>
                    <div class="col-lg-12">
                        <label class="" for="name">Current Password</label>
                        <input class="custom-subject-input" type="text" name="yourName" placeholder="">
                    </div>

                    <div class="col-lg-12">
                        <label class="">New password</label>
                        <input class="custom-subject-input" type="password" name="yourName" placeholder="">
                    </div>
                    <div class="col-lg-12">
                        <label class="">Re-enter password</label>
                        <input class="custom-subject-input" type="password" name="yourName" placeholder="">
                    </div>

                    <div class="col-lg-12">
                        <a href="" class="btn-admin">Save</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


