<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="57x57" href="~/Css/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/Css/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Css/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Css/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Css/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Css/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Css/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Css/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Css/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/Css/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Css/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Css/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Css/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/Css/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/Css/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="~/Css/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Css/css/all.min.css">
    <link rel="stylesheet" href="~/Css/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="~/Css/css/style.css">
    <link rel="stylesheet" href="~/Css/css/responsive.css">
    <link rel="stylesheet" href="~/Css/css/owl.carousel.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="~/AdminCss/admin-css/admin.css">
    <link rel="stylesheet" href="~/AdminCss/admin-css/summernote.css">
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.11.5/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/datatables.min.css" />

    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">


    <title>Hotpat - Photobox</title>
</head>
<body>
    <div
           <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="d-flex">
                            <a href=""><i class="fas fa-mobile-alt"></i>+61 000 000 000</a>
                            <a href=""><i class="far fa-envelope"></i>info@hotpatphotobox.com.au</a>
                        </div>
                    </div>
                    <div class="col-md-6 ml-auto">
                        <div class="topbar-social">
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                            <a href=""><i class="fab fa-twitter"></i></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="middle-bar">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="logo">
                            <img src="../images/logo.svg" alt="" title="" width="" height="">
                        </div>
                    </div>
                    <div class="col-md-6 right-header-section my-auto">
                        <div class="row">
                            <div class="col-md-7 col-lg-7">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search for ..">
                                    <div class="search-icon">
                                        <i class="fa fa-search"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 col-lg-5">
                                <div class="cart-user">
                                    <div class="cart">
                                        <a href=""><img src="../images/cart.svg" alt="" title="" width=""
                                                height=""><span>117 USD</span></a>
                                    </div>
                                    <div class="user">
                                        <a href="">
                                            <img src="../images/user.svg" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
        @RenderBody()
    </div>

    <!-- footer-start -->
    <footer class="footer-admin">
        <div class="container">
            <div class="row text-align-center align-items-center">
                <div class="col-lg-4">
                    <img src="~/AdminCss/admin-panel/admin-image/hotpatphotobox-01.png" alt="" class="img-fluid">
                </div>
                <div class="col-lg-4">
                    <p>Copyright © 2019 Diecast car sales. All rights reserved</p>
                </div>
                <div class="col-lg-4">
                    <div class="topbar-social">
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                        <a href=""><i class="fab fa-twitter"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/Css/js/jquery-3.6.0.min.js"></script>
    <script src="~/Css/js/bootstrap.bundle.min.js"></script>
                
    <script src="~/Css/js/all.min.js"></script>
    
    <script src="~/Css/js/owl.carousel.min.js"></script>
    <script src="~/AdminCss/admin-js/summernote.js"></script>
    <script>
  
        $(document).ready(function () {
            $('.summernote').summernote();
        });
    </script>
    <script>
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        function filterFunction() {
            var input, filter, ul, li, a, i;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            div = document.getElementById("myDropdown");
            a = div.getElementsByTagName("a");
            for (i = 0; i < a.length; i++) {
                txtValue = a[i].textContent || a[i].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    a[i].style.display = "";
                } else {
                    a[i].style.display = "none";
                }
            }
        }

    </script>
    <script>
        $('.dropdown-menu a.dropdown-toggle').on('click', function (e) {
            if (!$(this).next().hasClass('show')) {
                $(this).parents('.dropdown-menu').first().find('.show').removeClass("show");
            }
            var $subMenu = $(this).next(".dropdown-menu");
            $subMenu.toggleClass('show');


            $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function (e) {
                $('.dropdown-submenu .show').removeClass("show");
            });
            $(this).toggleClass('down-icon')

            return false;
        })
    </script>
</body>

</html>